<!-- Wappler include head-page="layouts/userauth/database-reset-success" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/database-reset-success" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{}}" jquery_slim_35="local" moment_2="local" -->
<link rel="stylesheet" href="/css/userauth/database-reset-success.css" />

<meta name="ac:route" content="/userauth/database-reset-success">
<div id="browser" is="dmx-browser"></div>
<dmx-notifications id="notify"></dmx-notifications>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />

<div id="database-reset-success" class="_33_146 d-flex" fid="33:146"><span id="_41_908" figma-name="The_database_has_successfully_been_reset_" class="_41_908" fid="41:908" layout="VERTICAL/None/FILL/FIXED">The database has successfully been reset.</span><header id="Click_here_to_login" figma-name="Click_here_to_login" class="_41_909" fid="41:909" layout="VERTICAL/None/HUG/HUG" dmx-on:click="browser.goto('userauth/login')">Click here to login</header>
</div>
