<dmx-serverconnect fid="I41:778;54:4995" id="get_info" url="/api/userauth/account/info">
</dmx-serverconnect>
<!-- Wappler include head-page="layouts/userauth/database-reset" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/database-reset" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/database-reset.css" rel="stylesheet" />
<meta content="/userauth/database-reset" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<dmx-value dmx-bind:value="get_info.data.roles.values('role').contains('admin')" id="is_admin">
</dmx-value>
<dmx-value dmx-bind:value="(get_info.data.identity?true:false)" id="is_user">
</dmx-value>
<div class="d-flex" fid="33:127" id="database-reset">
    <div fid="41:778" fname="Database Reset Box" id="_41_778">
        <div fid="I41:778;11:4369" fname="Input Fields Box" id="_I41_778-11_4369">
            <div fid="I41:778;11:4369;11:3883" fname="Input Fields Box - Base" id="_I41_778-11_4369-11_3883">
                <dmx-value fid="I41:778;11:4369;11:3883;44:1122" id="var_error_message">
                </dmx-value>
                <span fid="I41:778;11:4369;11:3883;11:2113" fname="Title" id="_I41_778-11_4369-11_3883-11_2113">
                    Database Reset
                </span>
                <span fid="I41:778;11:4369;11:3883;11:2114" fname="message" id="_I41_778-11_4369-11_3883-11_2114">
                    Submitting this form will reset all tables associated with user authentication and authorisation.
                </span>
                <form action="/api/<% if($_ENV.USERAUTH_DATABASE_RESET_API){ %><%=_('$_ENV.USERAUTH_DATABASE_RESET_API',locals)%><% } else { %>userauth/database/reset<% } %>" dmx-on:success="browser.goto('/userauth/database-reset-success')" dmx-on:unauthorized="browser.goto('/userauth/info?message=Steward password is incorrect')" fid="I41:778;11:4369;11:3883;8:155" id="form" is="dmx-serverconnect-form" method="post">
                    <input class="form-control" fid="I41:778;11:4369;11:3883;61:4999" id="input" name="input" placeholder="input [hidden|ignore]" type="hidden">
                    <div fid="I41:778;11:4369;11:3883;106:746" fname="Frame 31" id="_I41_778-11_4369-11_3883-106_746">
                        <div class="d-flex" dmx-hide="get_info.data.roles.values('role').contains('admin')" fid="I41:778;11:4369;11:3883;9:237" id="Admin_email">
                            <span fid="I41:778;11:4369;11:3883;9:237;9:234" fname="Label" id="_I41_778-11_4369-11_3883-9_237-9_234">
                                Admin email (to be created)
                            </span>
                            <div fid="I41:778;11:4369;11:3883;9:237;9:235" fname="Input field" id="_I41_778-11_4369-11_3883-9_237-9_235">
                                <input fid="I41:778;11:4369;11:3883;9:237;9:235;9:232" id="admin_username" name="admin_username" placeholder="Enter admin email" type="text">
                            </div>
                        </div>
                        <div class="d-flex" dmx-hide="get_info.data.roles.values('role').contains('admin')" fid="I41:778;11:4369;11:3883;10:232" id="Admin_password">
                            <span fid="I41:778;11:4369;11:3883;10:232;9:234" fname="Label" id="_I41_778-11_4369-11_3883-10_232-9_234">
                                Admin password (to be created)
                            </span>
                            <div fid="I41:778;11:4369;11:3883;10:232;9:235" fname="Input field" id="_I41_778-11_4369-11_3883-10_232-9_235">
                                <input fid="I41:778;11:4369;11:3883;10:232;9:235;9:232" id="admin_password" name="admin_password" placeholder="Enter admin password" type="password">
                            </div>
                        </div>
                        <div fid="I41:778;11:4369;11:3883;9:241" fname="Stweward password" id="_I41_778-11_4369-11_3883-9_241">
                            <span fid="I41:778;11:4369;11:3883;9:241;9:234" fname="Label" id="_I41_778-11_4369-11_3883-9_241-9_234">
                                Steward Password
                            </span>
                            <div fid="I41:778;11:4369;11:3883;9:241;9:235" fname="Input field" id="_I41_778-11_4369-11_3883-9_241-9_235">
                                <input dmx-on:keypress.enter="form.submit()" fid="I41:778;11:4369;11:3883;9:241;9:235;9:232" id="steward_password" name="steward_password" placeholder="Enter your steward password" type="password">
                            </div>
                        </div>
                    </div>
                    <div dmx-bind:condition="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I41:778;11:4369;11:3883;9:198" id="Recaptcha" is="dmx-if">
                        <div fid="I41:778;11:4369;11:3883;9:198;107:2685" fname="Add top and bottom padding" id="_I41_778-11_4369-11_3883-9_198-107_2685">
                            <div class="g-recaptcha" data-sitekey="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I41:778;11:4369;11:3883;9:198;46:3593" id="Recaptcha_box">
                            </div>
                        </div>
                    </div>
                    <div fid="I41:778;11:4369;11:3883;106:2233" fname="Frame 32" id="_I41_778-11_4369-11_3883-106_2233">
                        <div fid="I41:778;11:4369;11:3883;29:658" fname="Message box" id="_I41_778-11_4369-11_3883-29_658">
                            <header dmx-text="var_error_message.value" fid="I41:778;11:4369;11:3883;8:160" id="error_message">
                                Message goes here
                            </header>
                        </div>
                        <div class="d-flex" dmx-on:click="form.submit()" fid="I41:778;11:4369;11:3883;9:270" id="submit">
                            <span fid="I41:778;11:4369;11:3883;9:270;9:269" fname="Press" id="_I41_778-11_4369-11_3883-9_270-9_269">
                                SUBMIT
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>