<!-- Wappler include head-page="layouts/userauth/forbidden" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/forbidden" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/forbidden.css" rel="stylesheet" />
<meta content="/userauth/forbidden" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<dmx-serverconnect id="get_info" url="/api/userauth/account/info">
</dmx-serverconnect>
<dmx-value dmx-bind:value="get_info.data.roles.values('role').contains('admin')" id="is_admin">
</dmx-value>
<dmx-value dmx-bind:value="(get_info.data.identity?true:false)" id="is_user">
</dmx-value>
<div class="d-flex" fid="33:147" id="forbidden">
    <span fid="33:151" fname="You have entered the forbidden zone." id="_33_151">
        You have entered the forbidden zone.
    </span>
</div>