<!-- Wappler include head-page="layouts/userauth/forbidden" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/forbidden" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{}}" jquery_slim_35="local" moment_2="local" -->
<link rel="stylesheet" href="/css/userauth/forbidden.css" />

<meta name="ac:route" content="/userauth/forbidden">
<div id="browser" is="dmx-browser"></div>
<dmx-notifications id="notify"></dmx-notifications>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Henny Penny:wght@400&display=swap" />

<div id="forbidden" class="_33_147 d-flex" fid="33:147"><span id="_33_151" figma-name="You_have_entered_the_forbidden_zone_" class="_33_151" fid="33:151" layout="HORIZONTAL/None/FILL/HUG">You have entered the forbidden zone.</span></div>
