<!-- Wappler include head-page="layouts/userauth/info" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/info" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{},dmxStripe:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/info.css" rel="stylesheet" />

<meta content="/userauth/info" name="ac:route">
<div id="browser" is="dmx-browser"></div>
<dmx-cookie-manager id="cookies"></dmx-cookie-manager>
<dmx-notifications id="notify"></dmx-notifications>
<dmx-serverconnect id="get_info" url="/api/userauth/account/info"></dmx-serverconnect>
<dmx-value id="is_admin" dmx-bind:value="get_info.data.roles.values(`role`).contains('admin')"></dmx-value>
<dmx-value id="is_user" dmx-bind:value="(get_info.data.identity?true:false)"></dmx-value>
<div id="info" class="_33_148 d-flex" fid="33:148">
<header id="This_is_a_generic_message_page" class="_33_152" dmx-text="query.message" fid="33:152" layout="HORIZONTAL/None/FILL/HUG">This is a generic message page</header>
</div>