<!-- Wappler include head-page="layouts/userauth/manage" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/manage" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{},dmxStripe:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/manage.css" rel="stylesheet" />

<meta content="/userauth/manage" name="ac:route">
<div id="browser" is="dmx-browser"></div>
<dmx-cookie-manager id="cookies"></dmx-cookie-manager>
<dmx-notifications id="notify"></dmx-notifications>
<dmx-serverconnect id="get_info" url="/api/userauth/account/info"></dmx-serverconnect>
<dmx-value id="is_admin" dmx-bind:value="get_info.data.roles.values(`role`).contains('admin')"></dmx-value>
<dmx-value id="is_user" dmx-bind:value="(get_info.data.identity?true:false)"></dmx-value>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Courier New:wght@700&family=Courier:wght@400&family=Roboto:wght@500&display=swap" rel="stylesheet" />

<div id="manage" class="_33_153 d-flex" fid="33:153">
<dmx-serverconnect id="info" class="_188_1525" fid="188:1525" sockets="true" url="/api/userauth/admin/info"></dmx-serverconnect>
<dmx-serverconnect id="logout" class="_189_700" dmx-on:success="browser.goto('/userauth/login')" fid="189:700" noload url="/api/userauth/account/logout"></dmx-serverconnect>
<div id="_214_787" class="_214_787" fid="214:787" figma-name="Frame_34" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_123_1677" class="_123_1677" fid="123:1677" figma-name="Admin_Console" layout="HORIZONTAL/None/HUG/HUG">Admin Console</span>
</div>
<div id="_188_1522" class="_188_1522" fid="188:1522" figma-name="Users_metric" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_188_1521" class="_188_1521" fid="188:1521" figma-name="__Users_" layout="HORIZONTAL/None/HUG/HUG"># Users: </span>
<header id="user_count" class="_188_1523" dmx-text="info.data.users.count" fid="188:1523" layout="HORIZONTAL/None/HUG/HUG">user_count</header>
</div>
<div id="_213_783" class="_213_783" fid="213:783" figma-name="Users_metric" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_213_784" class="_213_784" fid="213:784" figma-name="__Unique_User_Logins__24_hours__" layout="HORIZONTAL/None/HUG/HUG"># Unique User Logins (24 hours): </span>
<header id="login_count" class="_213_785" dmx-text="info.data.unique_user_logins_last_24_hours[0].count" fid="213:785" layout="HORIZONTAL/None/HUG/HUG">login_count</header>
</div>
<div id="_216_792" class="_216_792" fid="216:792" figma-name="Frame_35" layout="VERTICAL/VERTICAL/HUG/FIXED">
<span id="_216_799" class="_216_799" fid="216:799" figma-name="Last_50_Activities_" layout="VERTICAL/None/HUG/HUG">Last 50 Activities:</span>
<div id="_219_801" class="_219_801" fid="219:801" figma-name="Frame_39" layout="VERTICAL/VERTICAL/FILL/FILL">
<div id="_216_796" class="_216_796" fid="216:796" figma-name="Activity_Row" layout="VERTICAL/HORIZONTAL/HUG/HUG">
<div id="_216_793" class="_216_793" fid="216:793" figma-name="Frame_36" layout="HORIZONTAL/HORIZONTAL/FIXED/HUG">
<span id="_216_789" class="_216_789" fid="216:789" figma-name="Activity" layout="HORIZONTAL/None/HUG/HUG">Activity</span>
</div>
<div id="_216_794" class="_216_794" fid="216:794" figma-name="Frame_37" layout="HORIZONTAL/HORIZONTAL/FIXED/HUG">
<span id="_216_790" class="_216_790" fid="216:790" figma-name="Email" layout="HORIZONTAL/None/HUG/HUG">Email</span>
</div>
<div id="_216_795" class="_216_795" fid="216:795" figma-name="Frame_38" layout="HORIZONTAL/HORIZONTAL/FIXED/HUG">
<span id="_216_791" class="_216_791" fid="216:791" figma-name="When" layout="HORIZONTAL/None/HUG/HUG">When</span>
</div>
</div>
<div id="repeat_activity_row" class="_216_797" dmx-bind:repeat="info.data.last_10_activities" fid="216:797" is="dmx-repeat" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="_219_802" class="_219_802" fid="219:802" figma-name="Activity_Row" layout="VERTICAL/HORIZONTAL/HUG/HUG">
<div id="_219_803" class="_219_803" fid="219:803" figma-name="Frame_36" layout="HORIZONTAL/HORIZONTAL/FIXED/HUG">
<header id="activity" class="_219_804" dmx-text="activity" fid="219:804" layout="HORIZONTAL/None/HUG/HUG">activity</header>
</div>
<div id="_219_805" class="_219_805" fid="219:805" figma-name="Frame_37" layout="HORIZONTAL/HORIZONTAL/FIXED/HUG">
<header id="email" class="_219_806" dmx-text="data" fid="219:806" layout="HORIZONTAL/None/HUG/HUG">email</header>
</div>
<div id="_219_807" class="_219_807" fid="219:807" figma-name="Frame_38" layout="HORIZONTAL/HORIZONTAL/FIXED/HUG">
<header id="when" class="_219_808" dmx-text="created.formatDate('yyyy-mm-dd HH:mm:ss')" fid="219:808" layout="HORIZONTAL/None/HUG/HUG">when</header>
</div>
</div>
</div>
</div>
</div>
<div id="_214_786" class="_214_786" fid="214:786" figma-name="Frame_33" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="Button" class="d-flex _189_698 d-flex" dmx-on:click="logout.load({})" fid="189:698" layout="VERTICAL/HORIZONTAL/FIXED/HUG">
<span id="_I189_698-9_269" class="_I189_698-9_269" fid="I189:698;9:269" figma-name="Press" layout="HORIZONTAL/None/HUG/HUG">LOGOUT</span>
</div>
<div id="Password_Change" class="_191_752 d-flex _191_752" dmx-on:click="browser.goto('userauth/password-change')" fid="191:752" figma-name="Password_Change" layout="VERTICAL/HORIZONTAL/FIXED/HUG">
<span id="_I191_752-9_269" class="_I191_752-9_269" fid="I191:752;9:269" figma-name="Press" layout="HORIZONTAL/None/HUG/HUG">PASSWORD CHANGE</span>
</div>
<div id="Database_Reset" class="_191_740 d-flex _191_740" dmx-on:click="browser.goto('userauth/database-reset')" fid="191:740" figma-name="Database_Reset" layout="VERTICAL/HORIZONTAL/FIXED/HUG">
<span id="_I191_740-9_269" class="_I191_740-9_269" fid="I191:740;9:269" figma-name="Press" layout="HORIZONTAL/None/HUG/HUG">DATABASE RESET</span>
</div>
</div>
</div>