<!-- Wappler include head-page="layouts/userauth/password-reset-request-success" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/password-reset-request-success" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{}}" jquery_slim_35="local" moment_2="local" -->
<link rel="stylesheet" href="/css/userauth/password-reset-request-success.css" />

<meta name="ac:route" content="/userauth/password-reset-request-success">
<div id="browser" is="dmx-browser"></div>
<dmx-notifications id="notify"></dmx-notifications>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />

<div id="password-reset-request-success" class="_33_159 d-flex" fid="33:159">
<span id="_41_1156" figma-name="An_email_has_been_sent_to_you_containing_a_password_reset_link__" class="_41_1156" fid="41:1156" layout="VERTICAL/None/FILL/HUG">An email has been sent to you containing a password reset link.<br><br>Please check your junk folder if you are unable to find it.</span></div>
