<!-- Wappler include head-page="layouts/userauth-web/password-change-success" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth-web/password-change-success" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{}}" jquery_slim_35="local" moment_2="local" -->
<link rel="stylesheet" href="/css/userauth-web/password-change-success.css" />

<meta name="ac:route" content="/userauth-web/password-change-success">
<div id="browser" is="dmx-browser"></div>
<dmx-notifications id="notify"></dmx-notifications>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />

<div id="password-change-success" class="_33_157 d-flex" fid="33:157"><span id="_41_1034" figma-name="Your_password_has_successfully_been_changed_" class="_41_1034" fid="41:1034" layout="VERTICAL/None/FILL/FIXED">Your password has successfully been changed.</span>
    <header id="Click_here_to_login" figma-name="Click_here_to_login" class="_41_1035" fid="41:1035" layout="VERTICAL/None/HUG/HUG" dmx-on:click="browser.goto('/userauth-web/login')">Click here to login</header>
</div>