<!-- Wappler include head-page="layouts/userauth/password-change" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/password-change" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{}}" jquery_slim_35="local" moment_2="local" -->
<link rel="stylesheet" href="/css/userauth/password-change.css" />

<meta name="ac:route" content="/userauth/password-change">
<div id="browser" is="dmx-browser"></div>
<dmx-notifications id="notify"></dmx-notifications>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Roboto:wght@500&family=Arial:wght@400&display=swap" />

<div id="password-change" class="_33_155 d-flex" fid="33:155">
<div id="_41_911" figma-name="Password_Change" class="_41_911" fid="41:911" layout="HORIZONTAL/VERTICAL/HUG/HUG">
<dmx-serverconnect id="logout" url="/api/userauth/account/logout" noload dmx-on:success="browser.goto('/userauth/password-change-success')" class="_I41_911-60_4996" fid="I41:911;60:4996"></dmx-serverconnect>
<div id="_I41_911-11_5613" figma-name="Input_Fields_Box" class="_I41_911-11_5613" fid="I41:911;11:5613" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="_I41_911-11_5613-11_3829" figma-name="Input_Fields_Box_-_Base" class="_I41_911-11_5613-11_3829" fid="I41:911;11:5613;11:3829" layout="VERTICAL/VERTICAL/FIXED/HUG">
<dmx-value id="var_message" class="_I41_911-11_5613-11_3829-44_1122" fid="I41:911;11:5613;11:3829;44:1122"></dmx-value>
<span id="_I41_911-11_5613-11_3829-11_2113" figma-name="Title" class="_I41_911-11_5613-11_3829-11_2113" fid="I41:911;11:5613;11:3829;11:2113" layout="VERTICAL/None/FILL/FIXED">Password Change</span><span id="message" class="_I41_911-11_5613-11_3829-11_2114" fid="I41:911;11:5613;11:3829;11:2114" layout="VERTICAL/None/FILL/FIXED" is="dmx-if" dmx-bind:condition="<%=_('$_ENV.USERAUTH_PASSWORD_CHANGE_MESSAGE',locals)%>">Description text goes here here here here here here here here here here here here here</span><form id="form" is="dmx-serverconnect-form" method="post" action="/api/<% if($_ENV.USERAUTH_PASSSWORD_CHANGE_API){ %><%=_('$_ENV.USERAUTH_PASSSWORD_CHANGE_API',locals)%><% } else { %>userauth/password/change<% } %>" dmx-on:unauthorized="var_message.setValue(lastError.response)" dmx-on:invalid="var_message.setValue('Please supply all fields')" dmx-on:success="logout.load({})" class="_I41_911-11_5613-11_3829-8_155" fid="I41:911;11:5613;11:3829;8:155" layout="VERTICAL/VERTICAL/FILL/HUG">
<input id="input" class="_I41_911-11_5613-11_3829-61_4999 form-control" fid="I41:911;11:5613;11:3829;61:4999" layout="VERTICAL/None/HUG/HUG" name="input" type="hidden" placeholder="input [hidden|ignore]">
<div id="_I41_911-11_5613-11_3829-106_746" figma-name="Frame_31" class="_I41_911-11_5613-11_3829-106_746" fid="I41:911;11:5613;11:3829;106:746" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="_I41_911-11_5613-11_3829-9_237" figma-name="Input_field_with_label" class="_I41_911-11_5613-11_3829-9_237" fid="I41:911;11:5613;11:3829;9:237" layout="VERTICAL/VERTICAL/FIXED/HUG">
<span id="_I41_911-11_5613-11_3829-9_237-9_234" figma-name="Label" class="_I41_911-11_5613-11_3829-9_237-9_234" fid="I41:911;11:5613;11:3829;9:237;9:234" layout="VERTICAL/None/HUG/HUG">Old Password</span><div id="_I41_911-11_5613-11_3829-9_237-9_235" figma-name="Input_field" class="_I41_911-11_5613-11_3829-9_237-9_235" fid="I41:911;11:5613;11:3829;9:237;9:235" layout="VERTICAL/HORIZONTAL/FILL/FIXED">
<input id="old_password" class="_I41_911-11_5613-11_3829-9_237-9_235-9_232" fid="I41:911;11:5613;11:3829;9:237;9:235;9:232" layout="HORIZONTAL/None/FILL/HUG" name="old_password" type="password" placeholder="Enter your old password">
</div>
</div>
<div id="_I41_911-11_5613-11_3829-10_232" figma-name="Input_field_with_label" class="_I41_911-11_5613-11_3829-10_232" fid="I41:911;11:5613;11:3829;10:232" layout="VERTICAL/VERTICAL/FIXED/HUG">
<span id="_I41_911-11_5613-11_3829-10_232-9_234" figma-name="Label" class="_I41_911-11_5613-11_3829-10_232-9_234" fid="I41:911;11:5613;11:3829;10:232;9:234" layout="VERTICAL/None/HUG/HUG">New Password</span><div id="_I41_911-11_5613-11_3829-10_232-9_235" figma-name="Input_field" class="_I41_911-11_5613-11_3829-10_232-9_235" fid="I41:911;11:5613;11:3829;10:232;9:235" layout="VERTICAL/HORIZONTAL/FILL/FIXED">
<input id="new_password" class="_I41_911-11_5613-11_3829-10_232-9_235-9_232" fid="I41:911;11:5613;11:3829;10:232;9:235;9:232" layout="HORIZONTAL/None/FILL/HUG" name="new_password" type="password" placeholder="Enter your new password">
</div>
</div>
</div>
<div id="Recaptcha" class="_I41_911-11_5613-11_3829-9_198" fid="I41:911;11:5613;11:3829;9:198" layout="VERTICAL/VERTICAL/HUG/HUG" is="dmx-if" dmx-bind:condition="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>">
<div id="_I41_911-11_5613-11_3829-9_198-107_2685" figma-name="Add_top_and_bottom_padding" class="_I41_911-11_5613-11_3829-9_198-107_2685" fid="I41:911;11:5613;11:3829;9:198;107:2685" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="Recaptcha_box" class="_I41_911-11_5613-11_3829-9_198-46_3593 g-recaptcha" fid="I41:911;11:5613;11:3829;9:198;46:3593" layout="VERTICAL/VERTICAL/FIXED/FIXED" data-sitekey="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>"></div>
</div>
</div>
<div id="_I41_911-11_5613-11_3829-106_2233" figma-name="Frame_32" class="_I41_911-11_5613-11_3829-106_2233" fid="I41:911;11:5613;11:3829;106:2233" layout="VERTICAL/VERTICAL/HUG/FIXED">
<div id="_I41_911-11_5613-11_3829-29_658" figma-name="Message_box" class="_I41_911-11_5613-11_3829-29_658" fid="I41:911;11:5613;11:3829;29:658" layout="VERTICAL/HORIZONTAL/FIXED/HUG">
<header id="error_message" class="_I41_911-11_5613-11_3829-8_160" fid="I41:911;11:5613;11:3829;8:160" layout="HORIZONTAL/None/HUG/HUG" dmx-text="var_message.value">Message goes here</header>
</div>
<div id="submit" dmx-on:click="form.submit()" class="d-flex _I41_911-11_5613-11_3829-9_270 d-flex" fid="I41:911;11:5613;11:3829;9:270" layout="VERTICAL/HORIZONTAL/FIXED/HUG">
<span id="_I41_911-11_5613-11_3829-9_270-9_269" figma-name="Press" class="_I41_911-11_5613-11_3829-9_270-9_269" fid="I41:911;11:5613;11:3829;9:270;9:269" layout="HORIZONTAL/None/HUG/HUG">Submit</span></div>
</div>
</form>
</div>
</div>
</div>
</div>
