<!-- Wappler include head-page="layouts/userauth/password-reset-request" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/password-reset-request" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{},dmxStripe:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/password-reset-request.css" rel="stylesheet" />

<meta content="/userauth/password-reset-request" name="ac:route">
<div id="browser" is="dmx-browser"></div>
<dmx-cookie-manager id="cookies"></dmx-cookie-manager>
<dmx-notifications id="notify"></dmx-notifications>
<dmx-serverconnect id="get_info" url="/api/userauth/account/info"></dmx-serverconnect>
<dmx-value id="is_admin" dmx-bind:value="get_info.data.roles.values(`role`).contains('admin')"></dmx-value>
<dmx-value id="is_user" dmx-bind:value="(get_info.data.identity?true:false)"></dmx-value>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Roboto:wght@500&family=Arial:wght@400&display=swap" rel="stylesheet" />

<div id="password-reset-request" class="_33_161 d-flex" fid="33:161">
<div id="_41_1036" class="_41_1036" fid="41:1036" figma-name="Password_Reset_Request" layout="HORIZONTAL/VERTICAL/HUG/HUG">
<div id="_I41_1036-12_642" class="_I41_1036-12_642" fid="I41:1036;12:642" figma-name="Input_Fields_Box" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="_I41_1036-12_642-11_3773" class="_I41_1036-12_642-11_3773" fid="I41:1036;12:642;11:3773" figma-name="Input_Fields_Box_-_Base" layout="VERTICAL/VERTICAL/FIXED/HUG">
<dmx-value id="var_error_message" class="_I41_1036-12_642-11_3773-44_1122" fid="I41:1036;12:642;11:3773;44:1122"></dmx-value>
<span id="_I41_1036-12_642-11_3773-11_2113" class="_I41_1036-12_642-11_3773-11_2113" fid="I41:1036;12:642;11:3773;11:2113" figma-name="Title" layout="VERTICAL/None/FILL/HUG">Password Reset</span>
<header id="message" class="_I41_1036-12_642-11_3773-11_2114" dmx-text="'<%=_('$_ENV.USERAUTH_PASSWORD_RESET_REQUEST_MESSAGE',locals)%>'" fid="I41:1036;12:642;11:3773;11:2114" layout="VERTICAL/None/FILL/HUG">Description text goes here here here here here here here here here here here here here</header>
<form id="form" action="/api/<% if($_ENV.USERAUTH_PASSWORD_RESET_REQUEST_API){ %><%=_('$_ENV.USERAUTH_PASSWORD_RESET_REQUEST_API',locals)%><% } else { %>userauth/password/reset_request<% } %>" class="_I41_1036-12_642-11_3773-8_155" dmx-on:success="browser.goto('/userauth/password-reset-request-success')" fid="I41:1036;12:642;11:3773;8:155" is="dmx-serverconnect-form" layout="VERTICAL/VERTICAL/FILL/HUG" method="post">
<input id="input" class="_I41_1036-12_642-11_3773-61_4999 form-control" fid="I41:1036;12:642;11:3773;61:4999" layout="VERTICAL/None/HUG/HUG" name="input" placeholder="input [hidden|ignore]" type="hidden">
<div id="_I41_1036-12_642-11_3773-106_746" class="_I41_1036-12_642-11_3773-106_746" fid="I41:1036;12:642;11:3773;106:746" figma-name="Frame_31" layout="VERTICAL/VERTICAL/FILL/HUG">
<div id="_I41_1036-12_642-11_3773-9_237" class="_I41_1036-12_642-11_3773-9_237" fid="I41:1036;12:642;11:3773;9:237" figma-name="Input_field_with_label" layout="VERTICAL/VERTICAL/FILL/HUG">
<span id="_I41_1036-12_642-11_3773-9_237-9_234" class="_I41_1036-12_642-11_3773-9_237-9_234" fid="I41:1036;12:642;11:3773;9:237;9:234" figma-name="Label" layout="VERTICAL/None/HUG/HUG">Email</span>
<div id="_I41_1036-12_642-11_3773-9_237-9_235" class="_I41_1036-12_642-11_3773-9_237-9_235" fid="I41:1036;12:642;11:3773;9:237;9:235" figma-name="Input_field" layout="VERTICAL/HORIZONTAL/FILL/FIXED">
<input id="username" class="_I41_1036-12_642-11_3773-9_237-9_235-9_232" fid="I41:1036;12:642;11:3773;9:237;9:235;9:232" layout="HORIZONTAL/None/FILL/HUG" name="username" placeholder="Enter your email" type="text">
</div>
</div>
</div>
<div id="Recaptcha" class="_I41_1036-12_642-11_3773-9_198" dmx-bind:condition="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I41:1036;12:642;11:3773;9:198" is="dmx-if" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="_I41_1036-12_642-11_3773-9_198-107_2685" class="_I41_1036-12_642-11_3773-9_198-107_2685" fid="I41:1036;12:642;11:3773;9:198;107:2685" figma-name="Add_top_and_bottom_padding" layout="VERTICAL/VERTICAL/HUG/HUG">
<div id="Recaptcha_box" class="_I41_1036-12_642-11_3773-9_198-46_3593 g-recaptcha" data-sitekey="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I41:1036;12:642;11:3773;9:198;46:3593" layout="VERTICAL/VERTICAL/FIXED/FIXED"></div>
</div>
</div>
<div id="_I41_1036-12_642-11_3773-106_2233" class="_I41_1036-12_642-11_3773-106_2233" fid="I41:1036;12:642;11:3773;106:2233" figma-name="Frame_32" layout="VERTICAL/VERTICAL/FILL/FIXED">
<div id="_I41_1036-12_642-11_3773-29_658" class="_I41_1036-12_642-11_3773-29_658" fid="I41:1036;12:642;11:3773;29:658" figma-name="Message_box" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<header id="error_message" class="_I41_1036-12_642-11_3773-8_160" dmx-text="var_error_message.value" fid="I41:1036;12:642;11:3773;8:160" layout="HORIZONTAL/None/HUG/HUG">Message goes here</header>
</div>
<div id="submit" class="d-flex _I41_1036-12_642-11_3773-9_270 d-flex" dmx-on:click="form.submit()" fid="I41:1036;12:642;11:3773;9:270" layout="VERTICAL/HORIZONTAL/FILL/HUG">
<span id="_I41_1036-12_642-11_3773-9_270-9_269" class="_I41_1036-12_642-11_3773-9_270-9_269" fid="I41:1036;12:642;11:3773;9:270;9:269" figma-name="Press" layout="HORIZONTAL/None/HUG/HUG">Submit</span>
</div>
</div>
</form>
</div>
</div>
</div>
</div>