<!-- Wappler include head-page="layouts/userauth/register" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/register" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/userauth/register.css" rel="stylesheet" />
<meta content="/userauth/register" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<dmx-serverconnect id="get_info" url="/api/userauth/account/info">
</dmx-serverconnect>
<dmx-value dmx-bind:value="get_info.data.roles.values('role').contains('admin')" id="is_admin">
</dmx-value>
<dmx-value dmx-bind:value="(get_info.data.identity?true:false)" id="is_user">
</dmx-value>
<div class="d-flex" fid="2:126" id="register">
    <div fid="32:85" fname="Register Box" id="_32_85">
        <div fid="I32:85;11:4620" fname="Input Fields Box" id="_I32_85-11_4620">
            <div fid="I32:85;11:4620;11:3829" fname="Input Fields Box - Base" id="_I32_85-11_4620-11_3829">
                <dmx-value fid="I32:85;11:4620;11:3829;44:1122" id="var_error_message">
                </dmx-value>
                <span class="Headline_5" fid="I32:85;11:4620;11:3829;11:2113" fname="Title" id="_I32_85-11_4620-11_3829-11_2113">
                    Register
                </span>
                <header class="Headline_6" dmx-text="'<%=_('$_ENV.USERAUTH_REGISTER_MESSAGE',locals)%>'" fid="I32:85;11:4620;11:3829;11:2114" id="message">
                    Description text goes here here here here here here here here here here here here here
                </header>
                <form action="/api/&lt;% if($_ENV.USERAUTH_REGISTER_API){ %><%=_('$_ENV.USERAUTH_REGISTER_API',locals)%>&lt;% } else { %>userauth/account/register&lt;% } %>" dmx-on:error="var_error_message.setValue(lastError.response)" dmx-on:invalid="var_error_message.setValue('Please check all fields')" dmx-on:success="browser.goto('/userauth/register-success')" fid="I32:85;11:4620;11:3829;8:155" id="form" is="dmx-serverconnect-form" method="post">
                    <input class="Headline_6 form-control" fid="I32:85;11:4620;11:3829;61:4999" id="input" name="input" placeholder="input [hidden|ignore]" type="hidden">
                    <div fid="I32:85;11:4620;11:3829;106:746" fname="Frame 31" id="_I32_85-11_4620-11_3829-106_746">
                        <div fid="I32:85;11:4620;11:3829;9:237" fname="Input field with label" id="_I32_85-11_4620-11_3829-9_237">
                            <span class="Subtitle_1" fid="I32:85;11:4620;11:3829;9:237;9:234" fname="Label" id="_I32_85-11_4620-11_3829-9_237-9_234">
                                Email
                            </span>
                            <div fid="I32:85;11:4620;11:3829;9:237;9:235" fname="Input field" id="_I32_85-11_4620-11_3829-9_237-9_235">
                                <input class="Headline_6 Secondary_color" fid="I32:85;11:4620;11:3829;9:237;9:235;9:232" id="username" name="username" placeholder="Enter your email" type="text">
                            </div>
                        </div>
                        <div fid="I32:85;11:4620;11:3829;10:232" fname="Input field with label" id="_I32_85-11_4620-11_3829-10_232">
                            <span class="Subtitle_1" fid="I32:85;11:4620;11:3829;10:232;9:234" fname="Label" id="_I32_85-11_4620-11_3829-10_232-9_234">
                                Password
                            </span>
                            <div fid="I32:85;11:4620;11:3829;10:232;9:235" fname="Input field" id="_I32_85-11_4620-11_3829-10_232-9_235">
                                <input class="Headline_6 Secondary_color" dmx-on:keypress.enter="form.submit()" fid="I32:85;11:4620;11:3829;10:232;9:235;9:232" id="password" name="password" placeholder="Enter your password" type="password">
                            </div>
                        </div>
                    </div>
                    <div dmx-bind:condition="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I32:85;11:4620;11:3829;9:198" id="Recaptcha" is="dmx-if">
                        <div fid="I32:85;11:4620;11:3829;9:198;107:2685" fname="Add top and bottom padding" id="_I32_85-11_4620-11_3829-9_198-107_2685">
                            <div class="g-recaptcha" data-sitekey="<%=_('$_ENV.RECAPTCHA_SITE_KEY',locals)%>" fid="I32:85;11:4620;11:3829;9:198;46:3593" id="Recaptcha_box">
                            </div>
                        </div>
                    </div>
                    <div fid="I32:85;11:4620;11:3829;106:2233" fname="Frame 32" id="_I32_85-11_4620-11_3829-106_2233">
                        <div fid="I32:85;11:4620;11:3829;29:658" fname="Message box" id="_I32_85-11_4620-11_3829-29_658">
                            <header class="Headline_6" dmx-text="var_error_message.value" fid="I32:85;11:4620;11:3829;8:160" id="error_message">
                                Message goes here
                            </header>
                        </div>
                        <div class="Secondary d-flex" dmx-on:click="form.submit()" fid="I32:85;11:4620;11:3829;9:270" id="submit">
                            <span class="Button" fid="I32:85;11:4620;11:3829;9:270;9:269" fname="Press" id="_I32_85-11_4620-11_3829-9_270-9_269">
                                SUBMIT
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>