<!-- Wappler include head-page="layouts/userauth/register-success" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="userauth/register-success" appConnect="local" components="{dmxBrowser:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootbox5:{},dmxDatePicker:{},dmxMediumEditor:{},dmxScheduler:{},dmxStateManagement:{},dmxDropzone:{},dmxDownload:{},dmxFormatter:{},dmxSockets:{}}" jquery_slim_35="local" moment_2="local" -->
<link rel="stylesheet" href="/css/userauth/register-success.css" />

<meta name="ac:route" content="/userauth/register-success">
<div id="browser" is="dmx-browser"></div>
<dmx-notifications id="notify"></dmx-notifications>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />

<div id="register-success" class="_42_1911 d-flex" fid="42:1911"><span id="_42_1912" figma-name="An_email_has_been_sent_to_you_containing_a_validation_link__Plea" class="_42_1912" fid="42:1912" layout="VERTICAL/None/FILL/FIXED">An email has been sent to you containing a validation link.<br><br>Please check you junk folder if you are unable to find it.</span></div>